.container {
  background: var(--color-nav-500);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
}

.imageContainer a {
  font-size: 27px;
  font-weight: bold;
  margin-left: 5px;
}

.container ul {
  display: flex;
  list-style: none;
}

.container li {
  padding-left: 20px;
}

.inputContainer {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(161, 153, 153);
  border-radius: 30px;
  background-color: var(--color-search-back);
  overflow: hidden;
}
.inputContainer input {
  border: 0px solid rgb(161, 153, 153);
  width: 78%;
  padding: 12px;
  font-size: 15px;
  background-color: var(--color-search-back);
}
.inputContainer button {
  width: 20%;
  border: none;
  /* min-height: 100%; */
}
.inputContainer button:hover {
  width: 20%;
  background-color: var(--color-search-hover);
  /* min-height: 100%; */
}

.uploadContainer {
  display: flex;
  width: 18%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.uploadContent {
  font-weight: bold;
}
.uploadContent :hover {
  text-decoration: underline;
}

.loginContent {
  width: 50%;
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-login-button);
}
.loginContent a {
  font-size: 14px;
  color: var(--color-font-100);
}

.moreContent {
  cursor: pointer;
}
