$color-grey: hsl(265, 55%, 96%);
$color-grey-100: hsl(265, 19%, 88%);
$color-success: #12bd4b;
$color-nav: #ffffff;
$color-search-back: #f1f1f2;
$color-search-hover: #dadadb;
$color-login-button: #ed3a53;
$color-font-100: #ffffff;
