html,
body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;
  --color-nav-500: #ffffff;
  --color-search-back: #f1f1f2;
  --color-search-hover: #dadadb;
  --color-login-button: #ed3a53;
  --color-font-100: #ffffff;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
